.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.auth-form {
  /* background-color: #ffffff; */
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.auth-form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: hsla(242, 88.4%, 66.3%, 1);
}

.input-group {
  display: flex;
  align-items: center;
  /* margin-bottom: 1rem;  */
}

.country-code {
  width: 100px; 
  padding: 0.75rem; 
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 2px;
}

.auth-form input {
  flex: 1; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}
.auth-form input:hover,
.auth-form input:focus {
  border: 1px solid #615dec;
}

.auth-form button {
  width: 100%;
  padding: 0.75rem;
  /* background-color: #007bff; */
  background-color: hsla(242, 88.4%, 66.3%, 1);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.auth-form button:hover {
  background-color: #0056b3;
}

.auth-link {
  margin-top: 1rem;
  text-align: center;
}

.auth-link a {
  color: #007bff;
  text-decoration: none;
}

.auth-link a:hover {
  text-decoration: underline;
}
.auth-form input {
  width: 100%;
}


/* Modal styles */
.otp-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.otp-modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  text-align: center;
}

.otp-modal-content input {
  width: 100%;
  padding: 0.75rem;
  margin: 1rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.otp-modal-content button {
  padding: 0.75rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
}

.otp-modal-content button:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  .auth-form {
    padding: 1.5rem;
  }

  .auth-form h2 {
    font-size: 3rem;
  }

  .auth-form input,
  .auth-form button {
    font-size: 0.9rem;
    padding: 14px;
  }

  .country-code {
    width: 76px;
    font-size: 10px;
    padding: 14px 2px;
  }
}

@media (max-width: 480px) {
  .auth-form {
    padding: 1rem;
  }

  .auth-form h2 {
    font-size: 3rem;
  }

  .auth-form input,
  .auth-form button {
    font-size: 0.8rem;
    padding: 14px;
  }

  .country-code {
    width: 76px;
    font-size: 10px;
    padding: 14px 2px;
  }
}

.loader {
  border: 4px solid #f3f3f3; 
  border-top: 4px solid #3498db; 
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
  margin: 16px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
